.goods-name,.goods-type{
        text-align: left;
    }
    .goods-name{
        font-size: 15px;
    }
    .goods-price{
        color: #E03228;
    }
    .goods-status{
        color: #999999;
    }
    .goods-type,.goods-price,.goods-status{
        font-size: 12px;
    }
    .no-wrap{
        flex-wrap: nowrap;
    }
    .goods-item{
        color: #333333;
        padding: .24rem .3rem;
        border-bottom:1px solid  #F5F5F5;
        box-sizing: border-box;
    }
    .goods-img{
        display: block;
        margin-right: .18rem;
        width: .84rem;
        height: .84rem;
    }